# Node.js dependencies
/node_modules
/.pnp
.pnp.*

# Yarn (when using Yarn 2+)
/.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# Testing outputs
/coverage

# Next.js build and output
/.next/
/out/

# Production build outputs
/build

# Miscellaneous files
.DS_Store
*.pem

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables (opt-in for committing if necessary)
.env*
!.env.example

# Vercel deployment
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Editor settings and config files
.idea/
.vscode/
*.swp

# Lock files
package-lock.json*
yarn.lock*
pnpm-lock.yaml*
